.gallery img{
    width:100%
}

h2{
    font-family: fantasy;
    font-style: oblique;
    font-size: 32px;
    text-align: left;
    color: fuchsia;   
        
}
menu{
   height: 42px;
   width: 100%; 
   background-color: darkolivegreen; 
   padding-left: 500px; 
   padding-right: 500px; 
   padding-top: 12px; 
    
    
}
#menu {
  color: darkcyan;  
  font-family: Helvetica, sans-seriff;  
  font-weight: 700;  
  font-size: 20px;  
  text-decoration: inherit;
  padding-right: 300px;  
  padding-left: 500px;  
}
body{
  background: darksalmon;  
    
}